@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-Thin', 100, normal, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-ThinItalic', 100, italic, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-ExtraLight', 200, normal, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-ExtraLightItalic', 200, italic, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-Light', 300, normal, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-LightItalic', 300, italic, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-Regular', 400, normal, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-RegularItalic', 400, italic, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-Medium', 500, normal, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-MediumItalic', 500, italic, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-SemiBold', 600, normal, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-SemiBoldItalic', 600, italic, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-Bold', 700, normal, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-BoldItalic', 700, italic, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-ExtraBold', 800, normal, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-ExtraBoldItalic', 800, italic, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-Black', 900, normal, eot woff2 woff);
@include font-face(Metropolis, '../../fonts/metropolis/Metropolis-BlackItalic', 900, italic, eot woff2 woff);

$font-family-base: 'Metropolis', serif;

$primary: #2c3e50;
$success: #18bc9c;
$danger: #e74c3c;
$warning: #f39c12;
$info: #046092;

$navbar-dark-color: $white;
$navbar-dark-hover-color: $success;
$navbar-light-hover-color: $success;

$card-border-width: 0;

$dropdown-font-size: 0.9rem;
$dropdown-link-hover-bg: rgba($primary, 0.2);

$badge-font-weight: 400;

$table-group-seperator-color: inherit;

$form-check-input-checked-bg-color: $success;
$input-border-width: 2px;
$input-focus-border-color: $primary;
//$input-bg: rgba(#ecf0f6, 0.25);
$input-disabled-bg: $white;

